{% extends 'base.html' %}
{% block content %}
<h2>Ejemplares</h2>
<a href="{% url 'ejemplar_create' %}">Agregar Nuevo Ejemplar</a>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Codigo de barras</th>
            <th>Ubicacion</th>
            <th>Ingreso</th>
            <th>Acciones</th> </tr>
    </thead>
    <tbody>
        {% for ejemplar in ejemplares %}
        <tr>
            <td>{{ ejemplar.codigo_barras }}</td>
            <td>{{ ejemplar.ubicacion }}</td>
            <td>{{ ejemplar.ingreso }}</td>
            <td>
                <a href="{% url 'ejemplar_update' ejemplar.pk %}">Editar</a>
                <a href="{% url 'ejemplar_delete' ejemplar.pk %}" style="color: #ff4136;">Borrar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center text-muted">No hay ejemplares agregados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}