{% extends "base.html" %}
{% block content %}
<h1>Catálogo de Categorías</h1>
<a href="{% url 'categoria_create' %}">Agregar Nueva Categoría</a>

<table>
    <thead>
        <tr>
            <th>Nombre de la Categoría</th>
            <th>Acciones</th> </tr>
    </thead>
    <tbody>
    {% for Categoria in categorias %}
    <tr>
        <td>{{ Categoria.nombre }}</td>
        <td>
            <a href="{% url 'categoria_update' Categoria.pk %}">Editar</a>
            <a href="{% url 'categoria_delete' Categoria.pk %}" style="color: #ff4136;">Borrar</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No hay categorías disponibles en el catálogo.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}